/*styles go here*/
html{
  font-size: 100%;
}

 p {
  color: #ccc;
  font-family: 'Arvo', serif;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  }

.italic {
  font-style: italic;
}

  h1{
    font-family: 'Roboto Slab', serif;
}

.menu-trigger {
    order: 1;
    font-size: 1.8em;
    width: 2em;
    color: #C45A2C;
}

body{
  background-color: #213182;
}

.navigation{
  margin:0;
  list-style-type: none;
  display: none;
  flex-flow: column;
  color:#ffffff;
  background-color: #C45A2C;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: 'Antic Slab', serif;
}

#container {
    width: 95%;
    margin: 0 auto;
}

.navigation li {
  margin:0;
  padding:0;
  border-bottom: 1px solid #ccc;
}

.navigation a{
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: white;
font-family: 'Antic Slab', serif;
}

.navigation a:hover, .navigation a:active {
  background-color: #FFE098;
}

h1{
  text-align: center;
}

img{
  border:none;
  width: 80%;
}

#bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #ccc;
}


/*Colors for different parts of page */

header {
  background: none;
}

footer {
  background:#C45A2C;
}

.aside-1 {
  background: grey;
  margin: 5px;
  padding: 3px;
  width: 20%;
}

.aside-2 {
  background: grey;
  margin: 5px;
  width: 30%;
  height: 35%;
}

/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside,footer {
  flex: 1 100%;
  padding: 10px;
}

.aside-1{
  display:none;
}
img{
  display: none;
  object-fit: cover;
  margin: auto;
}

.logo{
object-position: center;
width: 30%; height: 30%;
text-align: center;
}

@media screen and (min-width: 600px) {

      #container {
          width: 80%;
      }

      .aside-1{
        display: block;
      }
      img{
        display:block;
      }



}

/*These styles activate when the page is larger than 800px wide*/

@media (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
        display: flex;
    }

    .navigation a {
        border: none;
    }

    .menu-trigger {
          display: none;
      }

      nav ul {
  display: flex;
}

    aside {
        flex: 0.5 auto;
    }

    article {
		flex: 12 0px;
	}

    .aside-1 {
        order: 2;
    }

    article {
        order: 1;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }


    /*These styles apply to the floated image technique*/
  article {
                width: 65%;
                float: left;
                margin-right: 10px;
            }

            .first {
                margin-top: 0;
            }


    /*These styles apply to the Flexbox image technique */

    article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    /*This code is for the first image attempt -- the object-fit property*/
    /*img {
        width: 45%;
        object-fit: contain;
    }*/

    .image {
        width: 40%;
        margin-right: 5px;
    }

    .story {
        width: 45%;
    }

    .first {
      margin-top: 0;
  }

}

.map-wrapper {
    overflow:hidden;
    padding-bottom:56%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
